<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893408029677-gros61fci7i7i7vk0objlg08i8909e37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893408029677-gros61fci7i7i7vk0objlg08i8909e37</string>
	<key>API_KEY</key>
	<string>AIzaSyBwwUVJKCBs3J4W20mRFXzLqoY3PndHpGI</string>
	<key>GCM_SENDER_ID</key>
	<string>893408029677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.co.royalhealhcare</string>
	<key>PROJECT_ID</key>
	<string>royalhealthcare-3e021</string>
	<key>STORAGE_BUCKET</key>
	<string>royalhealthcare-3e021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893408029677:ios:073133d438aec62b3515e4</string>
	<key>DATABASE_URL</key>
	<string>https://royalhealthcare-3e021-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>